{%load static%}
<link rel="stylesheet" type="text/css" href="{% static "polls/style.css"%}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="{% url "polls:index" %}">Home</a>
		</div>
	</div>
</nav>
<h1>{{question.question_text}}</h1>
{%if error_message%}<p><strong>{{error_message}}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
		<input type="radio" name="choice" id="choice{{forloop.counter}}" value={{choice.id}} />
		<label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br />
	{%endfor%}
	<input type="submit" value="vote" />
</form>
	
